body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

input,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  outline: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

button {
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
button:hover {
  border: none;
  border-radius: 10px;
  cursor: pointer;
  opacity: 0.8;
  transform: scale(0.98);
}

.main-page__container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.create-room__button {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  background-color: lightskyblue;
  color: white;
}

.nickname-box {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  gap: 1rem;
  text-align: center;
  border-radius: 10px;
  background-color: lightskyblue;
}

.nickname-box h1 {
  font-size: 1.5rem;
  color: white;
}

.nickname-box__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  gap: 1.5rem;
}

.nickname-box__form input {
  padding: 1rem 2rem;
  font-size: 1rem;
  border-radius: 10px;
}

.nickname-box__form button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
}

.room-page__container {
  display: flex;
  min-height: 100vh;
}
.room-page__container > * {
  padding: 15px;
  min-height: 100vh;
}

.editor-wrapper {
  flex: 1;
  width: 100%;
  height: 100vh;
}

.editor-wrapper textarea {
  width: 100%;
  height: 100%;
  font-size: 16px;
  overflow-y: auto;
}

.sidebar {
  width: 250px;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  background-color: lightskyblue;
}

.sidebar h1 {
  flex: 0;
  height: 70px;
  margin: 0;
  padding-bottom: 0.7rem;
  font-size: 1.5rem;
  color: white;
  text-align: center;
}

.sidebar ul {
  flex: 1;
  background-color: rgb(216, 238, 252);
}

.sidebar p {
  flex: 0;
  height: 70px;
  padding: 1rem;
  list-style: none;
}
