body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

input,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  outline: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
  border-radius: 10px;
}

button {
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
button:hover {
  border: none;
  border-radius: 10px;
  cursor: pointer;
  opacity: 0.8;
  transform: scale(0.98);
}

.main-page__container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.create-room__button {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  background-color: lightskyblue;
  color: white;
}

.name-box {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  gap: 1rem;
  text-align: center;
  border-radius: 10px;
  background-color: lightskyblue;
}

.name-box h1 {
  font-size: 1.3rem;
  color: white;
}

.name-box__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  gap: 1.5rem;
}

.name-box__form input {
  padding: 1rem 2rem;
  font-size: 1rem;
  text-align: center;
  border-radius: 10px;
}

.name-box__form button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: rgb(216, 238, 252);
}

.room-page__container {
  display: flex;
  min-height: 100vh;
}
.room-page__container > * {
  padding: 15px;
  min-height: 100vh;
}

.sidebar {
  width: 250px;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  background-color: lightskyblue;
}

.sidebar h1 {
  flex: 0;
  margin: 0;
  padding-bottom: 0.7rem;
  font-size: 1.3rem;
  color: white;
  text-align: center;
}

.sidebar ul {
  flex: 1;
  background-color: rgb(216, 238, 252);
  text-align: center;
}

.sidebar ul li {
  padding: 0.625rem;
}

.sidebar button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
}

.user {
  font-weight: 500;
  color: rgb(9, 93, 190);
}

.sidebar p {
  height: 80px;
  padding: 1rem;
  list-style: none;
}

.editor-wrapper {
  position: relative;
  flex: 1;
  width: 100%;
  height: 100vh;
  padding: 0;
}

.editor-wrapper textarea {
  width: 100%;
  height: 100%;
  padding: 0;
  line-height: 1.5rem;
  font-size: 1rem;
  overflow-y: auto;
}

.cursor {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1px 2px;
  font-size: 0.7rem;
  border-radius: 5px;
  background-color: skyblue;
  color: white;
}
